<h2>Step 1</h2>

<div [formGroup]="formGroup">
    <div class="field-container">
        <mat-form-field appearance="fill" class="third-width">
            <mat-label>Login</mat-label>
            <input matInput type="email" id="email" formControlName="email" />
            <mat-error *ngIf="formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched">
                Email is required
            </mat-error>            
            <mat-error *ngIf="formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched">
                Email is invalid
            </mat-error>
        </mat-form-field>
    </div>

    <div class="field-container">
        <mat-form-field appearance="fill" class="third-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" formControlName="password" />
            <mat-error *ngIf="formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched">
                Password is required
            </mat-error>            
            <mat-error *ngIf="formGroup.get('password')?.hasError('minlength') && formGroup.get('password')?.touched">
                Password must be at least 6 characters long.
            </mat-error>
            <mat-error *ngIf="formGroup.get('password')?.hasError('passwordStrength') && formGroup.get('password')?.touched">
                Password must contain at least one uppercase letter and one digit.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="field-container">
        <mat-form-field appearance="fill" class="third-width">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" id="confirmPassword" formControlName="confirmPassword" />
            <mat-error *ngIf="formGroup.get('confirmPassword')?.hasError('required') && formGroup.get('confirmPassword')?.touched">
                Field is required.
            </mat-error>
        </mat-form-field>
    </div>
    <!-- https://github.com/angular/material/issues/10956 -->
    <div class="field-container">
        <div 
        class="mat-mdc-form-field-error mat-mdc-form-field-bottom-align" 
        *ngIf="formGroup.hasError('mismatch') && formGroup.get('confirmPassword')?.touched">
            Confirm password must be the same as password.
    </div>
    </div>


    <div class="field-container">
        <mat-checkbox formControlName="agreed">
            Agree to work for food
        </mat-checkbox>
        <div *ngIf="formGroup.get('agreed')?.hasError('required') && formGroup.get('agreed')?.touched" class="mat-mdc-form-field-error mat-mdc-form-field-bottom-align">
            You must agree to work for food.
        </div>
    </div>

    <div style="text-align: center;">    
        <button 
            mat-raised-button color="primary" 
            (click)="goToStep2()"
            [disabled]="formGroup.invalid" 
        >
            Go to Step 2
        </button>
    </div>

</div>
  
